@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

.header_external {
    display: flex;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0px;
    background: #00000033;
    backdrop-filter: blur(25px);
    color: white;
    justify-content: center;
    z-index: 100;

}

.header_internal {
    width: 1360px;
    height: 50px;
    margin: 20px 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    gap: 10px;
}

.logo {
    font-size: 33.626px;
    font-style: normal;
    font-weight: 800;
}

.logo .blue {
    color: #004DFF;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li {
    display: block;
    padding: 0px 16px;
}

.email_support {
    font-weight: 700;
}

.language,
.media_links {
    max-width: 85px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

svg {
    fill: linear-gradient(90deg, #676875 0.01%, #50505E 100%);
}

.language span {
    margin-top: 0px;
}

@media screen and (max-width: 1400px) {
    .header_external{
        width: 100vw;
        padding: 10px 20px;
    }
    .header_internal {
        justify-content: start;
        width: 370px;
        margin: 0px;
    }

    .nav_bar,
    .email_support,
    .language,
    .media_links {
        display: none;
    }

}