.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 298px;
    height: 466px;
    padding: 24px 24px;
}

.card_img img {
    width: 250px;
    height: 250px;
}

.card .text_big {
    font-weight: 700;
}

.card:hover {
    border-radius: 12px;
    backdrop-filter: blur(4.5px);
    background: linear-gradient(rgba(122, 120, 232, 0),rgba(122, 120, 232, 0.08),rgba(122, 120, 232, 0.15),rgba(122, 120, 232, 0.08));
}


@media screen and (width <1400px){
    .card {
        width: 100%;
        height: auto;
        padding: 24px 0px;
        align-items: center;
    }
    
    .card_info{
        width: 100%;
    }
}